[Unit]
Description=FDO service info API server
After=network-online.target

[Service]
Environment=LOG_LEVEL=info
ExecStart=/usr/bin/fdo-admin-tool aio --directory /etc/fdo/aio --binary-path /usr/libexec/fdo
# restart and failure condition

[Install]
WantedBy=multi-user.target