[Unit]
Description=FDO rendezvous server
After=network-online.target

[Service]
Environment=LOG_LEVEL=info
ExecStart=/usr/libexec/fdo/fdo-rendezvous-server
# restart and failure condition

[Install]
WantedBy=multi-user.target