[Unit]
Description=FDO owner onboarding server
After=network-online.target

[Service]
Environment=LOG_LEVEL=info
ExecStart=/usr/libexec/fdo/fdo-owner-onboarding-server
ExecStartPost=/usr/libexec/fdo/fdo-serviceinfo-api-server
# restart and failure condition

[Install]
WantedBy=multi-user.target