[Unit]
Description=FDO client
ConditionPathExists=/boot/device-credentials
After=network-online.target

[Service]
Type=oneshot
Environment=DEVICE_CREDENTIAL=/boot/device-credentials
Environment=LOG_LEVEL=info
ExecStart=/usr/libexec/fdo/fdo-client-linuxapp
ExecStartPost=/usr/bin/mv /boot/device-credentials /etc/device-credentials

[Install]
WantedBy=multi-user.target
