---
session_store_driver: Directory
session_store_config: {{ config_dir }}/sessions/
ownership_voucher_store_driver: Directory
ownership_voucher_store_config: {{ config_dir }}/ownership_vouchers/
trusted_device_keys_path: {{ keys_path }}/device_ca_cert.pem
owner_private_key_path: {{ keys_path }}/owner_key.der
owner_public_key_path: {{ keys_path }}/owner_cert.pem
owner_addresses_path: {{ config_dir }}/owner-addresses.yml
report_to_rendezvous_endpoint_enabled: true
bind: {{ bind }}
service_info:
  rhsm_organization_id: 123456
  rhsm_activation_key: SDOkey
  rhsm_run_insights: true
  sshkey_user: {{ user }}
  sshkey_key: "testkey"
  files:
  - path: hosts
    permissions: 644
    source_path: /etc/hosts
  - path: resolv.conf
    source_path: /etc/resolv.conf
  commands:
  - command: ls
    args:
    - /etc/hosts
    return_stdout: true
    return_stderr: true
  - command: ls
    args:
    - /etc/doesnotexist/whatever.foo
    may_fail: true
    return_stdout: true
    return_stderr: true
  - command: touch
    args:
    - {{ keys_path }}/command-testfile
