---
session_store_driver: Directory
session_store_config: sessions/
ownership_voucher_store_driver: Directory
ownership_voucher_store_config: ownership_vouchers/
trusted_device_keys_path: {{ keys_path }}/device_ca_cert.pem
owner_private_key_path: {{ keys_path }}/owner_key.der
owner_public_key_path: {{ keys_path }}/owner_cert.pem
owner_addresses_path: {{ config_dir }}/owner-addresses.yml
report_to_rendezvous_endpoint_enabled: true
bind: {{ bind }}
service_info:
  rhsm_organization_id: 6454383
  rhsm_activation_key: SDOkey
  rhsm_run_insights: true
  sshkey_user: root
  sshkey_key: "testkey"
