[package]
name = "fdo-owner-tool"
version = "0.3.0"
authors = ["Patrick Uiterwijk <patrick@puiterwijk.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
clap = "2"
log = "0.4"
openssl = "0.10"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.8"
tokio = { version = "1", features = ["full"] }
tss-esapi = "7.0"

fdo-util = { path = "../util", version = "0.3.0" }
fdo-data-formats = { path = "../data-formats", version = "0.3.0" }
fdo-http-wrapper = { path = "../http-wrapper", version = "0.3.0", features = ["client"] }


hex = "0.4"
